header {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imageheader {
  margin-left: 30px;
}



nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Styles pour l'élément actif */
nav ul li.active {
  color: #359ff0;
}

.user {
  display: flex;
  align-items: center;
}


.user-profile {
  position: relative;
  display: flex;
  align-items: center;
}

.profile-image {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  margin-right: 8px; /* Espacement entre l'image et le nom d'utilisateur */
}

.user-profile span {
  position: absolute;
  margin-right: 300px;
  bottom: 15px;
  transform: translate(-95%, -50%);
  color:#273C75;
  padding: 2px 5px; /* Un peu de remplissage pour le texte */
  border-radius: 5px; /* Coins arrondis pour le fond du texte */
}